*{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.hero{
    height: 100vh;
    display:grid;
    grid-template-areas: 
    "nav"
    "header"
    "footer";
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
h1{
    font-size: 6em;
    text-align: center;
}
.footer-links{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
    list-style: none;
}
.footer-links li a{
    text-decoration: none;
    padding: 50px;
    color: rgba(0, 169, 127, 0.61);
}
.footer-links li a:hover{
    text-decoration: none;
    padding: 50px;
    color: rgb(0, 169, 127);
}